*{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
   
}
a {
  user-select: none; 
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; 
}
html {
  scroll-behavior: smooth; 
  
}

body{
  
  background-color: black;
}
header{
 display: flex; 
 align-items: center;
 justify-content: space-evenly;
height: 100vh;
 color: white;
 margin-bottom: 20em;
 
}
.container{
  scroll-snap-type: y mandatory; /* Define que el scroll será vertical y obligatorio */
  overflow-y: scroll; /* Activa el scroll vertical */
  height: max-content;
  scroll-behavior: smooth; /* Scroll suave */
  padding-top: 1em;
  background: linear-gradient(120deg,rgb(0,0,0) 28%,rgb(68,0,139));
}

.hero h1{
  margin:0;
  font-size: 35px;
  font-weight: bold;
  opacity: 0; 
  display: inline-block; 
  animation: fadeIn 3s forwards; 
}
.hero h3{
  animation: fadeIn 1s forwards; 
  margin: 0.2em
}
.hero h4{
  animation: fadeIn 4s forwards; 
  margin: 1em
}
.navbar{
  position: fixed;
  z-index: 10; 
  left: 50%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1em;
  background: black;
  box-shadow: 0px 0px 15px 3px #5A009B;
  border-radius: 17px;
  width: max-content;
}
.responsiveNav{
  display: none;
}

.anchornav{
  text-decoration: none;
  color: white;
  padding: 1em;
}

.icons{
  display: flex;
  flex-direction: row;
  margin-top: 2em;  
  justify-content: center;
  align-items: center;
}
.icons a{
  margin: 0 auto
}
.navlink{
  padding: 3px;
}
.navlink:hover{

box-shadow:inset 0px 0px 15px 3px #5A009B,0px 0px 15px 3px #5A009B;
border-radius: 17px;
}

.imagedager{ 
  width: 100%;
  height: 100%;
  object-fit: cover; 
  
}
.img-container{
  position: relative;
  border-radius: 50%;
  width: max-content;
  height: max-content;
  background: transparent; 
  overflow: hidden; 
  margin-top: 3em;
  
}
.overlay{
  position: absolute;
  box-shadow: inset 0px 0px 100px 40px black;
  background-color: transparent;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  height: 100%;
}

.aboutme{ 
  
  height: 100vh;
  text-wrap: nowrap;
  color:white; 
  overflow: hidden; 
  padding-bottom: 16em;
}
#about-section-container{  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-items: center;
  
}
#abouts{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  z-index: 9;
  box-shadow: 0px 0px 15px 3px #5A009B;
}
#expcontainer{
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  padding: 2em;
  align-items: center;
  margin: 1em;
  margin-top: 2em;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 3px #5A009B;
}
#exp-img{
  height: auto;
}
#experience{
  height: 100vh;
}
#expgrid{
  text-wrap: nowrap;
  color: white;
}
.aboutme h1,h2,p{
  margin: 0.5em;
}
.aboutme h3{
  color: gray;
  margin-left: 1em;
}
.inlineabouttext{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inlineabouttext p{
  text-wrap: wrap;
}
.text-overlay{     
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.imgs{
  width: 100%;
  box-shadow: 0px 0px 15px 3px #5A009B;
   display: flex;
  flex-direction: row;
  
}
#contact{
  height: 75vh;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutbackimg{
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  opacity: 0.3;  
  
}
.contacteiner{
 
  width: 30%; 
 
  padding: 2em;
  margin:0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 3px #5A009B;
  background-color: rgba(0,0,0,0.5);
}
.contacteiner h1,label{
  color:white;
}
.contacteiner input{
  border: 3px solid #5A009B;
  padding:0.5em;
}.contacteiner textarea{
  border: 3px solid #5A009B;
  padding:0.5em;
}
.contacteiner textarea{
 width: 100%;
 height: 150px;
  resize: none;
}
.formcontact{
  display: flex;
  flex-direction: column;
  gap:1em;
}

#sendbutton{
  padding: 0.5em;
  color:white;
  margin: 0 auto;
  background-color: black;
  border-radius: 15px;
}

#giticon{
  animation: fadeIn 5s forwards; 
  width: 40px;
}
#linkicon{
  animation: fadeIn 5.5s forwards;
  width: 40px;
}
#yticon{
  animation: fadeIn 6s forwards; 
  width: 40px;
}
#igicon{
  animation: fadeIn 6.5s forwards; 
  width: 40px;
}
#discicon{
  animation: fadeIn 7s forwards; 
  width: 40px;
}
@keyframes fadeIn {
  0% {
    opacity: 0; 
  }  
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
iframe{
  width: 600px;
  height: 1000px;
}
footer{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: rgba(0, 0, 0, 0.5);
  color: gray;
  padding: 1em;  
  height: max-content !important;
}
footer h3,h4{
  margin: 0.2em;
}

.centerdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalend{
  position:absolute;
  width:100vw;
  text-align: center;
  margin-left:-1em;
  margin-top:-2em;
  z-index: 300;
  height:100vh;
  background-color: black;
  display:grid;
  grid-template-columns:1fr 1fr;
}

@media (min-width: 2560px) {
  body {
      font-size: 35px; 
  }
  input,textarea,button{
    font-size: x-large;
  }
  iframe{
    width: max-content;
    height: 100%;    
  }
  #giticon{
    width: 80px;
  }
  #discicon{
    width: 80px
  }
  #yticon{
    width: 80px
  }
  #linkicon{
    width: 80px
  }
  #igicon{
    width: 80px
  }
}


@media (max-width: 720px) {
  #expcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #exp-image{
    height: 300px;
  }
  .responsiveNav{
    position: fixed;
    z-index: 100;
    top:2%;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 15px;
    
  }
  #rnavContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
  .navbar{
    display: none;
  }
  .container { margin-top: 2em;
    background: linear-gradient(180deg,rgb(0,0,0) 28%,rgb(68,0,139));
  }
  .contacteiner{
    width: 80%;
  }
  .aboutimg{
    width: 900px;
  }
  .aboutme{
    background-size:cover;  
    background-color: rgba(0,0,0,0.5);    
  }
  #aboutbackimg{
    height: 50vh;
  }
  #abouts{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .aboutme h1{
    padding-top: 2em;
  }
  #aimg1{
    display: none;
  }
  #aimg2{
    display: none;
  }
  
  #aimg3{
    display: none;
  }
  #aimg4{
    width: 400px;
  }
  #modalend{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  header{
    margin-top: -4em;
    flex-direction: column;
  }
}


